<section class="cover">
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class=" col-md-12">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">
                                <div class="m-b-25"> <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="img-radius" alt="User-Profile-Image"> </div>
                                <h4>Hello</h4>
                                <h3 class="f-w-600">{{userDetials?.userId}}</h3>
                                
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="card-block">
                                <h6 class="heading">Information</h6>
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600"></h6>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">First Name</p>
                                        <h6 class="text-muted f-w-400">{{userDetials?.fName}}</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Last Name</p>
                                        <h6 class="text-muted f-w-400">{{userDetials?.lName}}</h6>
                                    </div>
                                </div>
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600"></h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Email</p>
                                        <h6 class="text-muted f-w-400">{{userDetials?.emailId}}</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Phone</p>
                                        <h6 class="text-muted f-w-400">{{userDetials?.mobileNo}}</h6>
                                    </div>
                                </div>
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600"></h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">city</p>
                                        <h6 class="text-muted f-w-400">{{userDetials?.city}}</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">state</p>
                                        <h6 class="text-muted f-w-400">{{userDetials?.state}}</h6>
                                    </div>
                                </div>
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600"></h6>
                                
                              </div>  
                              <button class="btn btn-primary float-right" value="submit">Save Details</button>
                        <br>
                        <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
</section>
