<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">

        <h1 class="logo">
            Secured World
        </h1> <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="#" class="img-fluid"></a>-->


        <div class="dropdown">
            <a class="get-started-btn scrollto" type="button" id="dropdownMenu2" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Get Started
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <!-- <button class="dropdown-item" type="button">Action</button> -->
                <button class="dropdown-item" type="button" routerLink="/login" routerLinkActive="active"> <i
                        class="fa fa-sign-in" aria-hidden="true"></i>
                    Login</button>
                <button class="dropdown-item" type="button" routerLink="/register" routerLinkActive="active"><i
                        class="fa fa-user" aria-hidden="true"></i>
                    Register Yourself</button>
            </div>
        </div>
    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
            <div class="col-xl-6 col-lg-8">
                <h1>Secured Yourself With 
                    <span typingAnimation [typeSpeed]="100" [startDelay]="2000">Secured World!.
                    </span>
                </h1>
                <h2>We are who keep your data anonomus and secured</h2>
            </div>
        </div>
        <br>
        <span class="tagline">We Offers ....</span>

        <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
            <div class="col-xl-2 col-md-4">
                
                <div class="icon-box">
                    <i class="ri-store-line"></i>
                    <h3><a href="/dashb">Text Encryption</a></h3>
                </div>
            </div>
            <div class="col-xl-2 col-md-4">
                <div class="icon-box">
                    <i class="ri-bar-chart-box-line"></i>
                    <h3><a href="/dashb">Image Encryption</a></h3>
                </div>
            </div>
            <div class="col-xl-2 col-md-4">
                <div class="icon-box">
                    <i class="ri-calendar-todo-line"></i>
                    <h3><a href="/dashb">PDF Encryption</a></h3>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Hero -->