<nav class="navbar">
    <div class="container">
      <span class="navbar-brand">
          <h1 routerLink="/dashb">Secured World !
        </h1>
      </span>
    </div>
  </nav>
<div class="main">
    <div class="login-box">
        <div class="text-login">
            <br>
            <p>Login</p>
            <span>Use your credentials to log in.</span>
        </div>
        <div class="login-form">
            <form (ngSubmit)="onLogin()" [formGroup]="loginForm" autocomplete="off">
                <input class="form-control" formControlName="username" name="username" id="username"
                    placeholder="UserID">
                <input class="form-control" formControlName="password" name="password" id="password"
                    placeholder="Password">
                <input class="form-enter" type="submit" value="Login">
                <br>
                <span class="signUp" routerLink="/register">Create New Account ?</span>

            </form>
            <br>
        </div>
    </div>
</div>