<section class="cover">
  <nav>
    <span class="logo">
      <!-- <img src="../../../assets/img/logo.jpeg" alt=""> -->
  </span>
    
  </nav>
  <br><br><br><br>
  <div class="content">
    <h2 class="heading">We are here<br />for Securing your Data.</h2>
    <p>lets start using secure communications techniques with us</p>
    <div class="cta-btn">
    <a class="sidebar-toggler js-sidebar-toggler">Get Started</a>
    </div>

    <!-- <p class="highlight">30 day trial | No Bandwidth limit</p> -->
    
  </div>
  <div id="rcorners3" >
  </div>
  <Strong class="e2e">END-TO-END ENCRYPTION
  </Strong>


</section>