<div class="row my-5">

  <div class="card" style="width: 18rem;">
    <img src="assets/img.png" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Text Encription</h5>
      <p class="card-text">Protect your text by Encrypting and Decrypting any given text with a key that no one knows
      </p>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Start
      </button>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets/img.png" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="assets/img.png" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Send Text Data</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form>
          <label for="floatingTextarea2">Enter Your Text</label>
          <textarea class="form-control" placeholder="Enter text here" id="floatingTextarea2"
            style="height: 100px"></textarea>
          <label for="inputKey" class="form-label">Key</label>
          <input type="text" id="inputKey" class="form-control" aria-describedby="passwordHelpBlock">
          <label for="inputKey" class="form-label">UserID whome Do You Wanna Send Details</label>
          <input type="text" id="inputKey" class="form-control" aria-describedby="passwordHelpBlock">
        
        </form>
        <br>
        
          <div class="alert alert-success" role="alert">
            User Name : "Aadesh"
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send
        </button>
      </div>
    </div>
  </div>
</div>